body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

.container-top {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    padding-left: 175px;
    padding-right: 175px;
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    height: 72px;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    font-size: 20px;
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.header-links {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
    list-style-type: none;
}

a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

.awesome-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding-top: 80px;
    padding-bottom: 160px;
}

.awesome-container img {
    width: 600px;
    height: 250px;
}

.text-container h1 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin: 0;
}

.text-container p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 10px 0px;
}

.sign-upCTA {
    background-color: #3882f6;
    padding: 10px 30px;
    color: #f9faf8;
    font-weight: bold;
    font-size: 15px;
}

.text-images img {
    width: 200px;
    height: 200px;
}