body {
    margin: 0;
    padding: 0;
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header-logo {
    font-size: 20px;
    color: #f9faf8;
    font-size: 24px;
}

.header-links {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
    list-style-type: none;
}

a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

.awesome-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.container-top {
    background-color: #1f2937;
    display: flex;
    flex-flow: column wrap;
}